In [164]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.model_selection import train_test_split, GridSearchCV
from sklearn.compose import ColumnTransformer
from sklearn.pipeline import Pipeline
from sklearn.preprocessing import OneHotEncoder, StandardScaler
from sklearn.linear_model import LogisticRegression, LinearRegression
from sklearn.impute import SimpleImputer
from sklearn.metrics import confusion_matrix
from sklearn.metrics import accuracy_score
from sklearn.svm import SVC
from sklearn.model_selection import GridSearchCV
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import r2_score, mean_squared_error

In [165]:
c_churn = pd.read_excel(r'C:\Users\USER\Desktop\Rahima Sumani\OQD\OQD_DATASET\Telco_customer_churn.xlsx')
c_churn

,CustomerID,Count,Country,State,City,Zip Code,Lat Long,Latitude,Longitude,Gender,...,Contract,Paperless Billing,Payment Method,Monthly Charges,Total Charges,Churn Label,Churn Value,Churn Score,CLTV,Churn Reason
0,3668-QPYBK,1,United States,California,Los Angeles,90003,"33.964131, -118.272783",33.964131,-118.272783,Male,...,Month-to-month,Yes,Mailed check,53.85,108.15,Yes,1,86,3239,Competitor made better offer
1,9237-HQITU,1,United States,California,Los Angeles,90005,"34.059281, -118.30742",34.059281,-118.307420,Female,...,Month-to-month,Yes,Electronic check,70.70,151.65,Yes,1,67,2701,Moved
2,9305-CDSKC,1,United States,California,Los Angeles,90006,"34.048013, -118.293953",34.048013,-118.293953,Female,...,Month-to-month,Yes,Electronic check,99.65,820.5,Yes,1,86,5372,Moved
3,7892-POOKP,1,United States,California,Los Angeles,90010,"34.062125, -118.315709",34.062125,-118.315709,Female,...,Month-to-month,Yes,Electronic check,104.80,3046.05,Yes,1,84,5003,Moved
4,0280-XJGEX,1,United States,California,Los Angeles,90015,"34.039224, -118.266293",34.039224,-118.266293,Male,...,Month-to-month,Yes,Bank transfer (automatic),103.70,5036.3,Yes,1,89,5340,Competitor had better devices
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7038,2569-WGERO,1,United States,California,Landers,92285,"34.341737, -116.539416",34.341737,-116.539416,Female,...,Two year,Yes,Bank transfer (automatic),21.15,1419.4,No,0,45,5306,NaN
7039,6840-RESVB,1,United States,California,Adelanto,92301,"34.667815, -117.536183",34.667815,-117.536183,Male,...,One year,Yes,Mailed check,84.80,1990.5,No,0,59,2140,NaN
7040,2234-XADUH,1,United States,California,Amboy,92304,"34.559882, -115.637164",34.559882,-115.637164,Female,...,One year,Yes,Credit card (automatic),103.20,7362.9,No,0,71,5560,NaN
7041,4801-JZAZL,1,United States,California,Angelus Oaks,92305,"34.1678, -116.86433",34.167800,-116.864330,Female,...,Month-to-month,Yes,Electronic check,29.60,346.45,No,0,59,2793,NaN
7042,3186-AJIEK,1,United States,California,Apple Valley,92308,"34.424926, -117.184503",34.424926,-117.184503,Male,...,Two year,Yes,Bank transfer (automatic),105.65,6844.5,No,0,38,5097,NaN

In [166]:
c_churn.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7043 entries, 0 to 7042
Data columns (total 33 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   CustomerID         7043 non-null   object
 1   Count              7043 non-null   int64
 2   Country            7043 non-null   object
 3   State              7043 non-null   object
 4   City               7043 non-null   object
 5   Zip Code           7043 non-null   int64
 6   Lat Long           7043 non-null   object
 7   Latitude           7043 non-null   float64
 8   Longitude          7043 non-null   float64
 9   Gender             7043 non-null   object
 10  Senior Citizen     7043 non-null   object
 11  Partner            7043 non-null   object
 12  Dependents         7043 non-null   object
 13  Tenure Months      7043 non-null   int64
 14  Phone Service      7043 non-null   object
 15  Multiple Lines     7043 non-null   object
 16  Internet Service   7043 non-null   object
 17  Online Security    7043 non-null   object
 18  Online Backup      7043 non-null   object
 19  Device Protection  7043 non-null   object
 20  Tech Support       7043 non-null   object
 21  Streaming TV       7043 non-null   object
 22  Streaming Movies   7043 non-null   object
 23  Contract           7043 non-null   object
 24  Paperless Billing  7043 non-null   object
 25  Payment Method     7043 non-null   object
 26  Monthly Charges    7043 non-null   float64
 27  Total Charges      7043 non-null   object
 28  Churn Label        7043 non-null   object
 29  Churn Value        7043 non-null   int64
 30  Churn Score        7043 non-null   int64
 31  CLTV               7043 non-null   int64
 32  Churn Reason       1869 non-null   object
dtypes: float64(3), int64(6), object(24)
memory usage: 1.8+ MB

In [167]:
c_churn.size

232419

In [168]:
c_churn.shape

(7043, 33)

In [169]:
c_churn['Total Charges'] = pd.to_numeric(c_churn['Total Charges'], errors = 'coerce')
c_churn['Total Charges'].dtype

dtype('float64')

In [170]:
c_churn.isnull().sum()

CustomerID              0
Count                   0
Country                 0
State                   0
City                    0
Zip Code                0
Lat Long                0
Latitude                0
Longitude               0
Gender                  0
Senior Citizen          0
Partner                 0
Dependents              0
Tenure Months           0
Phone Service           0
Multiple Lines          0
Internet Service        0
Online Security         0
Online Backup           0
Device Protection       0
Tech Support            0
Streaming TV            0
Streaming Movies        0
Contract                0
Paperless Billing       0
Payment Method          0
Monthly Charges         0
Total Charges          11
Churn Label             0
Churn Value             0
Churn Score             0
CLTV                    0
Churn Reason         5174
dtype: int64

In [171]:
c_churn.describe()

,Count,Zip Code,Latitude,Longitude,Tenure Months,Monthly Charges,Total Charges,Churn Value,Churn Score,CLTV
count,7043.0,7043.000000,7043.000000,7043.000000,7043.000000,7043.000000,7032.000000,7043.000000,7043.000000,7043.000000
mean,1.0,93521.964646,36.282441,-119.798880,32.371149,64.761692,2283.300441,0.265370,58.699418,4400.295755
std,0.0,1865.794555,2.455723,2.157889,24.559481,30.090047,2266.771362,0.441561,21.525131,1183.057152
min,1.0,90001.000000,32.555828,-124.301372,0.000000,18.250000,18.800000,0.000000,5.000000,2003.000000
25%,1.0,92102.000000,34.030915,-121.815412,9.000000,35.500000,401.450000,0.000000,40.000000,3469.000000
50%,1.0,93552.000000,36.391777,-119.730885,29.000000,70.350000,1397.475000,0.000000,61.000000,4527.000000
75%,1.0,95351.000000,38.224869,-118.043237,55.000000,89.850000,3794.737500,1.000000,75.000000,5380.500000
max,1.0,96161.000000,41.962127,-114.192901,72.000000,118.750000,8684.800000,1.000000,100.000000,6500.000000

In [172]:
c_churn.describe(include = 'O')

,CustomerID,Country,State,City,Lat Long,Gender,Senior Citizen,Partner,Dependents,Phone Service,...,Online Backup,Device Protection,Tech Support,Streaming TV,Streaming Movies,Contract,Paperless Billing,Payment Method,Churn Label,Churn Reason
count,7043,7043,7043,7043,7043,7043,7043,7043,7043,7043,...,7043,7043,7043,7043,7043,7043,7043,7043,7043,1869
unique,7043,1,1,1129,1652,2,2,2,2,2,...,3,3,3,3,3,3,2,4,2,20
top,3668-QPYBK,United States,California,Los Angeles,"33.964131, -118.272783",Male,No,No,No,Yes,...,No,No,No,No,No,Month-to-month,Yes,Electronic check,No,Attitude of support person
freq,1,7043,7043,305,5,3555,5901,3641,5416,6361,...,3088,3095,3473,2810,2785,3875,4171,2365,5174,192

In [173]:
c_churn['City'].value_counts().head(10)

City
Los Angeles      305
San Diego        150
San Jose         112
Sacramento       108
San Francisco    104
Fresno            64
Long Beach        60
Oakland           52
Stockton          44
Bakersfield       40
Name: count, dtype: int64

In [174]:
c_churn.groupby(['City'], as_index = False )['Churn Value'].sum().sort_values(by= 'Churn Value', ascending= False ).head(10)

              City  Churn Value
562    Los Angeles           90
869      San Diego           50
872  San Francisco           31
878       San Jose           29
855     Sacramento           26
354         Fresno           16
556     Long Beach           15
702        Oakland           13
371       Glendale           13
972       Stockton           12

In [175]:
c_churn.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7043 entries, 0 to 7042
Data columns (total 33 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   CustomerID         7043 non-null   object
 1   Count              7043 non-null   int64
 2   Country            7043 non-null   object
 3   State              7043 non-null   object
 4   City               7043 non-null   object
 5   Zip Code           7043 non-null   int64
 6   Lat Long           7043 non-null   object
 7   Latitude           7043 non-null   float64
 8   Longitude          7043 non-null   float64
 9   Gender             7043 non-null   object
 10  Senior Citizen     7043 non-null   object
 11  Partner            7043 non-null   object
 12  Dependents         7043 non-null   object
 13  Tenure Months      7043 non-null   int64
 14  Phone Service      7043 non-null   object
 15  Multiple Lines     7043 non-null   object
 16  Internet Service   7043 non-null   object
 17  Online Security    7043 non-null   object
 18  Online Backup      7043 non-null   object
 19  Device Protection  7043 non-null   object
 20  Tech Support       7043 non-null   object
 21  Streaming TV       7043 non-null   object
 22  Streaming Movies   7043 non-null   object
 23  Contract           7043 non-null   object
 24  Paperless Billing  7043 non-null   object
 25  Payment Method     7043 non-null   object
 26  Monthly Charges    7043 non-null   float64
 27  Total Charges      7032 non-null   float64
 28  Churn Label        7043 non-null   object
 29  Churn Value        7043 non-null   int64
 30  Churn Score        7043 non-null   int64
 31  CLTV               7043 non-null   int64
 32  Churn Reason       1869 non-null   object
dtypes: float64(4), int64(6), object(23)
memory usage: 1.8+ MB

In [176]:
c_churn['Churn Reason'].value_counts()

Churn Reason
Attitude of support person                   192
Competitor offered higher download speeds    189
Competitor offered more data                 162
Don't know                                   154
Competitor made better offer                 140
Attitude of service provider                 135
Competitor had better devices                130
Network reliability                          103
Product dissatisfaction                      102
Price too high                                98
Service dissatisfaction                       89
Lack of self-service on Website               88
Extra data charges                            57
Moved                                         53
Limited range of services                     44
Long distance charges                         44
Lack of affordable download/upload speed      44
Poor expertise of phone support               20
Poor expertise of online support              19
Deceased                                       6
Name: count, dtype: int64

In [177]:
c_churn['Churn Score'].min()

5

In [178]:
def churn_score_rating(rating):
    if rating<= 20: 
        return 1
    elif 20<rating<=40:
        return 2
    elif 40<rating<=60:
        return 3
    elif 60<rating<=80:
        return 4
    elif 80<rating<=100:
        return 5

In [179]:
c_churn['Churn Score rating'] = c_churn['Churn Score'].apply(churn_score_rating)
c_churn['Churn Score rating']

0       5
1       4
2       5
3       5
4       5
       ..
7038    3
7039    3
7040    4
7041    3
7042    2
Name: Churn Score rating, Length: 7043, dtype: int64

In [222]:
c_churn['Churn Score rating'].isnull().sum()

0

In [180]:
c_churn['Churn Score rating'].unique()

array([5, 4, 2, 3, 1], dtype=int64)

In [181]:
type(c_churn['Churn Score rating'])

pandas.core.series.Series

In [182]:
c_churn.columns

Index(['CustomerID', 'Count', 'Country', 'State', 'City', 'Zip Code',
       'Lat Long', 'Latitude', 'Longitude', 'Gender', 'Senior Citizen',
       'Partner', 'Dependents', 'Tenure Months', 'Phone Service',
       'Multiple Lines', 'Internet Service', 'Online Security',
       'Online Backup', 'Device Protection', 'Tech Support', 'Streaming TV',
       'Streaming Movies', 'Contract', 'Paperless Billing', 'Payment Method',
       'Monthly Charges', 'Total Charges', 'Churn Label', 'Churn Value',
       'Churn Score', 'CLTV', 'Churn Reason', 'Churn Score rating'],
      dtype='object')

In [183]:
X = c_churn[['Zip Code','Latitude', 'Longitude', 'Gender', 'Senior Citizen',
       'Partner', 'Dependents', 'Tenure Months', 'Phone Service',
       'Multiple Lines', 'Internet Service', 'Online Security',
       'Online Backup', 'Device Protection', 'Tech Support', 'Streaming TV',
       'Streaming Movies', 'Contract', 'Paperless Billing', 'Payment Method',
       'Monthly Charges', 'Total Charges','Churn Score', 'CLTV', 'Churn Value']]

In [208]:
y = c_churn['Churn Score rating']

0       5
1       4
2       5
3       5
4       5
       ..
7038    3
7039    3
7040    4
7041    3
7042    2
Name: Churn Score rating, Length: 7043, dtype: int64

In [210]:
#y.isnull().sum()

In [224]:
print(X.isnull().sum())  # Check missing values in features
print(y.isnull().sum())  # Check missing values in target

Zip Code              0
Latitude              0
Longitude             0
Gender                0
Senior Citizen        0
Partner               0
Dependents            0
Tenure Months         0
Phone Service         0
Multiple Lines        0
Internet Service      0
Online Security       0
Online Backup         0
Device Protection     0
Tech Support          0
Streaming TV          0
Streaming Movies      0
Contract              0
Paperless Billing     0
Payment Method        0
Monthly Charges       0
Total Charges        11
Churn Score           0
CLTV                  0
Churn Value           0
dtype: int64
0

In [186]:
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size = 0.2, random_state =30 )

In [187]:
X_train.info()

<class 'pandas.core.frame.DataFrame'>
Index: 5634 entries, 6929 to 5925
Data columns (total 25 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Zip Code           5634 non-null   int64
 1   Latitude           5634 non-null   float64
 2   Longitude          5634 non-null   float64
 3   Gender             5634 non-null   object
 4   Senior Citizen     5634 non-null   object
 5   Partner            5634 non-null   object
 6   Dependents         5634 non-null   object
 7   Tenure Months      5634 non-null   int64
 8   Phone Service      5634 non-null   object
 9   Multiple Lines     5634 non-null   object
 10  Internet Service   5634 non-null   object
 11  Online Security    5634 non-null   object
 12  Online Backup      5634 non-null   object
 13  Device Protection  5634 non-null   object
 14  Tech Support       5634 non-null   object
 15  Streaming TV       5634 non-null   object
 16  Streaming Movies   5634 non-null   object
 17  Contract           5634 non-null   object
 18  Paperless Billing  5634 non-null   object
 19  Payment Method     5634 non-null   object
 20  Monthly Charges    5634 non-null   float64
 21  Total Charges      5625 non-null   float64
 22  Churn Score        5634 non-null   int64
 23  CLTV               5634 non-null   int64
 24  Churn Value        5634 non-null   int64
dtypes: float64(4), int64(5), object(16)
memory usage: 1.1+ MB

In [188]:
y_train.info()

<class 'pandas.core.series.Series'>
Index: 5634 entries, 6929 to 5925
Series name: Churn Score rating
Non-Null Count  Dtype
--------------  -----
5634 non-null   int64
dtypes: int64(1)
memory usage: 88.0 KB

In [189]:
y_train.isnull().sum()
y_train.mean()

3.3949236776712817

In [190]:
y_train = y_train.fillna(value = 3.3972)
y_train = y_train.isnull().sum()
y_train

0

In [191]:
y_test.mean()

3.3811213626685594

In [192]:
y_test = y_test.fillna(value = 3.3676)
y_test = y_test.isnull().sum()
y_test

0

In [193]:
X_train.shape

(5634, 25)

In [194]:
y_train.shape

()

In [195]:
type(y_train)

numpy.int64

In [196]:
X_train.select_dtypes(include = "O").columns.tolist()

['Gender',
 'Senior Citizen',
 'Partner',
 'Dependents',
 'Phone Service',
 'Multiple Lines',
 'Internet Service',
 'Online Security',
 'Online Backup',
 'Device Protection',
 'Tech Support',
 'Streaming TV',
 'Streaming Movies',
 'Contract',
 'Paperless Billing',
 'Payment Method']

In [197]:
X_train.select_dtypes(include = "number").columns.tolist()

['Zip Code',
 'Latitude',
 'Longitude',
 'Tenure Months',
 'Monthly Charges',
 'Total Charges',
 'Churn Score',
 'CLTV',
 'Churn Value']

In [198]:
cat_col = ['Gender',
 'Senior Citizen',
 'Partner',
 'Dependents',
 'Phone Service',
 'Multiple Lines',
 'Internet Service',
 'Online Security',
 'Online Backup',
 'Device Protection',
 'Tech Support',
 'Streaming TV',
 'Streaming Movies',
 'Contract',
 'Paperless Billing',
 'Payment Method']

In [199]:
num_col = ['Zip Code',
 'Latitude',
 'Longitude',
 'Tenure Months',
 'Monthly Charges',
 'Total Charges',
 'Churn Score',
 'CLTV']

In [200]:
one_hot = OneHotEncoder(sparse_output = False, handle_unknown = 'ignore')
scaler = StandardScaler()

In [201]:
preprocessor = ColumnTransformer(transformers=[
    ('cat', Pipeline(steps=[
        ('one_hot', OneHotEncoder(handle_unknown='ignore'))
    ]), cat_col),
    
    ('num', Pipeline(steps=[
        ('impute', SimpleImputer(strategy='mean')),
        ('scaler', StandardScaler())
    ]), num_col)
])

In [202]:
preprocessor.fit_transform(X_train, X_test)

array([[ 1.        ,  0.        ,  1.        , ...,  0.60644416,
        -0.91748408,  0.86732614],
       [ 1.        ,  0.        ,  1.        , ..., -0.32686139,
         0.33602628, -1.41705188],
       [ 1.        ,  0.        ,  1.        , ...,  1.18132548,
         0.98599461, -0.06294068],
       ...,
       [ 0.        ,  1.        ,  1.        , ...,  1.25491696,
        -1.47459979,  0.63307417],
       [ 0.        ,  1.        ,  1.        , ...,  0.06290166,
        -1.42817348, -0.571891  ],
       [ 0.        ,  1.        ,  1.        , ..., -1.00143527,
        -0.77820515,  0.07862167]])

In [203]:
pipeline_lr = Pipeline(steps=[
    ('preprocessor', preprocessor),
    ('model', LinearRegression())
])

In [204]:
LinearRegression().get_params()

{'copy_X': True, 'fit_intercept': True, 'n_jobs': None, 'positive': False}

In [205]:
param_grid_lr ={
    'model__fit_intercept': [True, False],
    'model__copy_X': [True, False],
}

In [206]:
grid_search_lr = GridSearchCV(estimator = pipeline_lr, param_grid = param_grid_lr,scoring = 'neg_mean_squared_error', cv =5)

In [207]:
grid_search_lr.fit(X_train, y_train)

TypeError: Singleton array 0 cannot be considered a valid collection.

In [ ]:
#pipeline_lr.fit(X_train, y_train)

In [ ]:
y_pred_lr = grid_search_svm.best_estimator_.predict(X_test)

In [ ]:
print(accuracy_score( y_test, y_pred_lr))

In [ ]:
print(confusion_matrix(y_test,y_pred_lr))